# fly.toml app configuration file generated for e-commerce-project-sck8lw on 2025-12-19T11:42:30Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'e-commerce-project-sck8lw'
primary_region = 'yyz'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
